.marginBot5 {
  margin-bottom: 5px;
}


.orderTitle {
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.tableEle {
  display: flex;
  margin-right: 1.25rem;
  align-items: center;
}

.tableRightEle {
  margin-right: 1.25rem;
  min-width: 4rem;
}

.display_flex {
  display: flex;
  align-items: center;
}

.display_flex_bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ivu-btn-primary {
  background-color: #426ab3 !important;
  border-color: #426ab3 !important;
}

.ivu-btn-success {
  background-color: #42b394 !important;
  border-color: #42b394 !important;
}

.ivu-input-search {
  background-color: #426ab3 !important;
  border-color: #426ab3 !important;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
  background: unset !important;
}

.border_bottom {
  border-bottom: 1px solid#F0F0F0;
}
